.header{
    display: flex;
    }
   
   .header .contact_img{
height: 0.75rem;
margin-left: -0.5rem;
margin-top: 4.2rem;
margin-right: 3.3rem;
    }
    .header ul{
        padding-left: 30rem;
        list-style: none;
        display: flex;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
   
    .header li{
    list-style: none;
    padding-right: 3.5rem;
   color: white;
 /* background: linear-gradient(to left, #903AFF, #FE34B9); */
}
    .header li:hover{
    cursor: pointer;
        }
     
     .icon{
        margin-left: 7rem;
        margin-top: 4rem;
        height: 25px;
    }
    
  